@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

#product img {
		width: 100%;

}

#reviewsTitle {
	text-align: left;
	text-decoration: underline;
}

#reviewDiv {
	background-color: #D4D4D4;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px
}

#reviewBody {
	font-size: 1.1em;
}

#deleteButton {
	margin: auto;
}

ul {
	padding-left: 0;	
}