@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
h1 {
	font-size: 1.5em;
}

p#intro {
	border: double #256EB7;
	padding: 5px;
}

#product img {
		width: 100%;

}

#reviewsTitle {
	text-align: left;
	text-decoration: underline;
}

#reviewDiv {
	background-color: #256EB7;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px
}

#reviewBody {
	font-size: 1.1em;
}

#deleteButton {
	position: relative;
}

#customerTitle {
	margin-top: 0;
}

.button {
	float: right;
	color: black;
}

ol {
	padding-left: 0;	
}