@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);

#body {
	font-family: "Josefin Slab", serif;
}
h1 {
	font-size: 1.5em;
	text-align: center;
}

#averageStar {
	color: #E6E600;
}

#reviewStar {
	color: #E6E600;
}

img {
	margin-top: 30px;
}

#productInfo {
	margin-top: 50px;
}

p#intro {
	border: solid #256EB7;
/*	background-color: #256EB7;
	color: white;
*/	padding: 5px;
}

#product img {
	width: 100%;

}

#reviewsTitle {
	text-align: left;
	text-decoration: underline;
}

#reviewDiv {
	background-color: #256EB7;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px
}

#reviewBody {
	font-size: 1.1em;
}

#deleteButton {
	margin-left: 2.5px;
}

#customerTitle {
	margin-top: 0;
}

.button {
	float: right;
	color: black;
}

ol {
	padding-left: 0;	
}